html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#game-screen {
    background-image: url("./img/background.jpg");
    background-size: 100% 100%;
    width: 500px;
    height: 700px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

#fim-jogo {
    width: 500px;
    height: 780px;
    background-color: hwb(0 0% 100% / 0.719);
    position: fixed;
    display: none;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    z-index: 10;
    text-align: center;
}

#inicio-jogo {
    width: 500px;
    height: 780px;
    background-color: hwb(0 0% 100% / 0.719);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    z-index: 10;
    text-align: center;

}

#botao {
    width: 15%;
    height: 10%;
    margin-left: 42.5%;
    margin-top: 20%;
}

#nuvem-1 {
    width: 100%;
    display: flex;
    justify-content: end;

}

#nuvem-1 img {
    animation: movimenta-nuvem-pequena 2s infinite alternate;
}

#nuvem-2 {
    width: 100%;
    display: flex;
    justify-content: start;
}

#nuvem-2 img {
    animation: movimenta-nuvem-grande 5s infinite alternate;
}

.click {
    animation: click-animacao 300ms;
}

.fonte-padrao {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

#placar {
    background-color: #5D94F9;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    color: white
}

#placar span {
    margin-top: 15px;
    margin-left: 15px;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
    margin-bottom: 17%;
    animation: mario-animation 2s infinite linear;
}

@keyframes mario-animation {
    from {
        left: -30%;
    }

    to {
        left: 110%;
    }
}

@keyframes click-animacao {
    from {
        width: 13%;
        height: 8%;
        margin-left: 44.5%;
        margin-top: 22%;
    }

    to {
        width: 15%;
        height: 10%;
        margin-left: 42.5%;
        margin-top: 20%;
    }
}

@keyframes movimenta-nuvem-pequena {
    from {
        margin-right: 1%;
    }

    to {
        margin-right: 10%;
    }
}

@keyframes movimenta-nuvem-grande {
    from {
        margin-left: 0%;
    }

    to {
        margin-left: 20%;
    }
}